.message-card {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 5px;
  display: flex;
  min-width: 20%;
  max-width: 50%;
  justify-content: space-between;
  .message-card_content {
    color: black;
    align-self: flex-start;
  }
  .message-card_date {
    color: black;
    align-self: flex-end;
  }
}