.massage-card {
  margin-top: 5px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  .massage-card_content {
    color: black;
  }
  .massage-card_date {color: black;}
}