.chat-list-box {
  display: flex;
  color: white;
  &:hover {
    background-color: rgba(38, 47, 59, 1);
  }
  &:active {
    background-color: rgba(55, 61, 70, 1);
  }
  .chat-list-box_user-photo {
    border-radius: 50px;
  }
  .chat-list-box_spans {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .chat-list-box_msg {
      opacity: 0.5;
    }
  }
  .grow {
    flex-grow: 1;
  }
  .chat-list-box_date {
    align-self: center;
    opacity: 0.5;
  }
}